<div class="container">
  <h3 class=text-center>
    Hello <%= current_user.email %>
  </h3>
  <hr class="my-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" disabled>Registration Form</button>
        <button class="btn btn-primary" type="button" disabled>Emergency Contact Form</button>
        <button class="btn btn-primary" type="button" disabled>Course Selection Form</button>
      </div>
    </div>
  </div>
</div>
